.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.drawer .MuiDrawer-paper {
  width: 100px;
}

.content {
  margin-left: 120px;
}

.add-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.add-character-success {
  width: 100%;
  min-height: 1.5em;
  line-height: 1.5em;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
}

*:focus {
  outline: 2px lightblue dashed;
}

.fight-add-character {
  max-height: 75vh;
  overflow: scroll;
}

.MuiTableCell-root {
  padding: 4px 8px 4px 8px !important;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-unstyled .MuiIconButton-root,
.list-unstyled .MuiIconButton-label,
.list-unstyled .MuiTouchRipple-root {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: sub;
}

.value-changed {
  animation-name: value-changed;
  animation-duration: 4s;
}

@keyframes value-changed {
  from {
    background-color: rgba(255, 151, 4, 0);
  }
  20% {
    background-color: rgba(255, 151, 4, 0.58);
  }
  80% {
    background-color: rgba(255, 151, 4, 0.58);
  }
  to {
    background-color: rgba(255, 151, 4, 0);
  }
}
