.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.drawer .MuiDrawer-paper {
  width: 18%;
}

.content {
  margin-left: 20%;
}

.add-character-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.add-character-success {
  width: 100%;
  min-height: 1.5em;
  line-height: 1.5em;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
}

*:focus {
  outline: 2px lightblue dashed;
}
